.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
   
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px ;
}

.header_serach_input{
    height: 12px;
    width: 100%;
    border: none;
    padding: 10px;
}

.header_searchIcon{
    padding: 5px;
    height:22px !important;
    background-color: #cd9042;

}

.header_option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.option_one{
    font-size: 10px;
}
.option_two{
    font-family: bold;
    font-size: 800;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option_busket{
    display: flex;
    align-items: center;
    color: white;
}
.header_buaketcount{
    margin-left: 10px;
    margin-right: 10px;
}
